# VSCode
.vscode

# config
config/pakreq.yaml

# Database
database.db
database.db-journal
old.db

# Obsolete files
obsolete

# pycache
*/__pycache__

# build directories
/venv
/build

# egg-info
pakreq.egg-info

# pytest
.pytest_cache
*/.pytest_cache

# mypy
.mypy_cache

# IntelliJ IDEA
.idea