{% extends "base.html" %}
{% set title = "Package Requests" %}
{% block extraheader %}
    <link rel="canonical" href="https://pakreq.aosc.io">
{% endblock %}
{% block banner %}
    <h1>AOSC OS Package Requests</h1>
    <p><span class="num">{{ count }}</span> pending requests in total</p>
{% endblock %}

{% block content %}
    {% if requests %}
        <table class="requests">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Date</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for request in requests %}
                <tr>
                    <td class="req-id">{{ request.id }}</td>
                    <td class="req-name"><a href="{{ base_url }}/detail/{{ request.id }}">{{ request.name }}</a></td>
                    <td class="req-type">
                        {{ pakreqType(request.type) }}
                    </td>
                    <td class="req-date">{{ request.pub_date }}</td>
                    <td class="req-desc">{{ request.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No requests</p>
    {% endif %}
{% endblock %}
