{% extends "base.html" %}

{% set title = "Package Requests" %}

{% block content %}
<a href="/account">My Account</a>
{% if requests %}
    <ul>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Date</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for request in requests %}
              <tr>
                <td>{{ request.id }}</td>
                <td><a href="/detail/{{ request.id }}">{{ request.name }}</a></td>
                <td>
                  {% if request.type == 0 %}
                    New
                  {% elif request.type == 1 %}
                    Update
                  {% elif request.type == 2 %}
                    Optimize
                  {% else %}
                    Unknown
                  {% endif %}
                </td>
                <td>{{ request.pub_date }}</td>
                <td>{{ request.description }}</td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </ul>
{% else %}
    <p>No requests</p>
{% endif %}
{% endblock %}
